.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2;
    padding-bottom: 50px;
}

.post-text {
    font-family: "Source Code Pro", Lato, sans-serif;
    grid-column: 1
}

.post-text-header {
    color: black;
}

.post-picture {
    grid-column: 2;
}
